.messages {
    flex-grow: 1;  /* Yeh parent ke andar jitna bacha space hai, woh le lega */
    overflow: auto;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.messagesContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 1em 0.5em;
}

.message{
    height:fit-content;
    width:100%;
    padding: 0.4em 0.5em;
    display: flex;
    align-items: center;
    border-left: 1px solid #d90429;
    margin-bottom: 0.5em;
}

.message .text{
    font-size: medium;
    color:black;
    background-color: #dae6f1;
    height:100%;
    width:auto;
    padding: 0.3em 1em;
    border-radius: 0.4em;
    margin-right: 1rem;
}

.message.userMsg .userName{
    margin-right: 1rem;
}

.message.userMsg{
    justify-content: flex-end;
    color:white;
    border-left: none;
    border-right: 1px solid #d90429;
}

.message.userMsg .text{
    padding: 0.4em 1em;
    background-color: #d90429;
    color:white;
}

.message .name{
    font-size: small;
    color:gray;
    font-weight: 800;
}

.custom-scroll-button {
    background-color: #d90429 !important;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Text color */
    font-size: 20px;
    position:relative;
}

.custom-scroll-button::before {
    content: '↓';
    height:100%;
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-family: "NeueMachina";
    font-weight: 900;
    color: white;
    font-size: 15px;
}