html,
body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

#root {
    height: 100vh;
}

* {
    box-sizing: border-box;
}

.joinInput:focus{
    outline: none;
}

.joinInput::placeholder{
    color:#e9697e;
    font-size: small;
}

.joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #1A1A1D;
    max-height: fit-content;
    height:100%;
}

.joinInnerContainer {
    width: 90%;
    max-width: 400px;
}

.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    font-size: medium;
}

.heading {
    color: #d90429;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    font-weight: 500;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #d90429;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
        height: 100%;
    }
}

.mt-5{
    margin-top: 2rem;
}

button:focus {
    outline: 0;
}